// Template color
$template_light: #f8f9fa;
$template_light_grey: #bebebe;

// Theme color
$theme_gold: #f0cd7b;
$theme_primary: #111;
$theme_primary_contrast: #fff;
$theme_secondary: #ea1d2c;
$theme_secondary_contrast: #fff;

// Gradients
%gradient-gold {
    background: rgb(49, 46, 39);
    background: linear-gradient(9deg, rgba(240,205,123,1) 0%, rgba(212,170,34,1) 100%);
}

// Classes

// Gold & Black
.bg_golden {
    @extend %gradient-gold;

    color: rgb(43, 43, 43);
}

.bg_primary,
%bg_primary {
    background-color: $theme_primary;
    color: $theme_primary_contrast;
}

.bg_secondary,
%bg_secondary {
    background-color: $theme_secondary;
    color: $theme_secondary_contrast;
}