@import "_fonts.scss";
@import "_colors.scss";
@import "components.scss";

body,
html {
    font-size: 18px;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

h1 {
    font-family: "merienda", sans-serif;
    font-weight: 700;
}
h2,
h3 {
    font-family: "merienda", sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    list-style: none;
    padding: 0 0.35rem 0.35rem 0;
}

* {
    box-sizing: border-box;
}

figure img {
    object-fit: scale-down;
    max-width: 100%;
}

section,
%section,
.section {
    width: 100%;
    margin: 0 auto;
}

// Corrigindo o owl
.owl-item.active > * {
    display: flex;
    flex-flow: column;
}
.owl-carousel .owl-dot {
    pointer-events: none;
    margin-right: 0.25rem;
}

#main-content {
    section {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.align-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#background-image-container {
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    box-shadow: 0 2px 10px 5px rgb(0 0 0 / 50%);

    img {
        width: 100%;
        object-fit: scale-down;
        object-position: center top;
    }
}

// #region HEADER
#main-header {
    .logo-container {
        display: flex;
        align-items: center;
    }

    .background-image-container {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        z-index: -1;

        img {
            max-width: 1920px;
            width: 100%;
            height: auto;
            object-fit: scale-down;
        }
    }

    .header-title {
        height: max-content;
        padding-left: 0.5rem;

        h2 {
            display: block;
            height: max-content;
            margin: 0;
            color: $theme_gold;
        }
    }

    .header-logo {
        max-height: 80px;
        max-width: 120px;

        img {
            max-height: inherit;
            max-width: inherit;
            object-fit: scale-down;
        }
    }

    .container {
        z-index: 1;
        position: relative;
    }

    .main-nav-list-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .main-nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        font-weight: bold;
        margin: 0;

        .nav-item {
            padding-bottom: 0;

            a {
                @extend %button;

                &:hover {
                    color: $theme_gold;
                }
            }
        }
    }
}
// #endregion

// #region HOME
#home-carousel {
    .owl-item {
        padding: 0 20px;
    }
    .carousel-item {
        flex-flow: row;
        align-items: center;
        height: calc(max(60vh, 400px));

        figure,
        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
            object-position: center right;
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(calc(-50% - 27px));
        display: flex;
        justify-content: space-between;
        width: 100%;
        // Setando o tamanho das setas
        .owl-prev,
        .owl-next {
            margin-bottom: -4.5px;
            font-size: 40px;
            transition: 0.25s ease-in-out;

            & svg {
                font-size: inherit;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .owl-dots {
        padding: 0 15px;
    }
}

.owl-carousel.owl-carousel-light {
    .owl-dot,
    .owl-prev,
    .owl-next {
        color: white !important;

        &.disabled {
            color: $template_light_grey !important;
        }
    }
}

.foodmenu-list {
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 15px;
    }

    .menu-item {
        @extend %card-simple-border;
        display: flex;
        min-height: 120px;
        margin: 0 auto 15px auto;

        .image {
            margin: 0;
            max-width: 180px;
            width: max-content;

            img {
                object-fit: cover;
                height: 100%;
                width: auto;
                max-width: inherit;
                object-position: top center;
            }
        }
        .content {
            padding: 0.5rem;
        }
    }
}

.split-section {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    flex-wrap: wrap;

    // Definições gerais da imagem
    figure {
        width: 100%;
        margin: 0;

        img {
            width: 100%;
        }
    }

    // Posicionando e configurando o wrap
    & > .image:first-child:not(.image-bottom) {
        img {
            object-position: top left;
        }
    }
    & > .image:last-child:not(.image-bottom) {
        img {
            object-position: top right;
        }
    }

    &.image-bottom {
        .image {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
        }

        & > .image:first-child:not(.image-bottom) {
            img {
                width: auto;
                object-position: bottom left;
            }
        }
        & > .image:last-child:not(.image-bottom) {
            img {
                width: auto;
                object-position: bottom right;
            }
        }
    }
}

.pitbar {
    width: 100%;
    padding: 0.5rem 1rem;
}

#main-footer {
    @extend %bg_primary;
}

@import "web_responsive.scss";
